.gameCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 80vh;
  border-radius: 20px;
  background-color: $color1;
  color: white;
}

.plusMinusCont {
  display: flex;
  flex-direction: column;
  gap: 5px;
  .button {
    height: 20px;
  }
}