@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

$color1: #001524;
$color2: #15616d;
$color3: #ffecd1;
$color4: #ff7d00;
$color5: #78290f;

$mainFont: 'Ubuntu';
$secondaryFont: '';

$contSize: 450;